project:
  type: book
  output-dir: docs

book:
  title: "Engle Lab useRguide"
  author: "Jason S. Tsukahara"
  date: today
  page-navigation: true
  reader-mode: true
  search: true
  cover-image: cover.png
  favicon: cover.png
  navbar: 
    left:
      - text: "Lab Website"
        href: https://englelab.gatech.edu/
        target: _blank
      - text: "Lab Manual"
        href: https://engle-lab.gitbook.io/lab-manual/
        target: _blank
      - text: "R Packages"
        menu:
          - text: "englelab"
            href: https://englelab.github.io/englelab/
            target: _blank
          - text: "psyworkflow"
            href: https://dr-jt.github.io/psyworkflow/
            target: _blank
          - text: "semoutput"
            href: https://dr-jt.github.io/semoutput/
            target: _blank
          - text: "modeloutput"
            href: https://dr-jt.github.io/modeloutput/
            target: _blank
          - text: "pupillometry"
            href: https://dr-jt.github.io/pupillometry/
            target: _blank
      
  chapters:
    - index.qmd
    
    - part: "Getting Started"
      chapters:
        - installation.qmd
        - tips.qmd
        - pkgs-and-funcs.qmd
        - R-basics.qmd
        - R-intermediate.qmd
        - quarto-rmarkdown-basics.qmd
      
    - part: "Tidyverse"
      chapters: 
        - this-is-the-way.qmd
        - import-write.qmd
        - working-with-data.qmd
    
    - part: "Project Organization"
      chapters: 
        - reproducible-workflow.qmd
        - file-organization.qmd
        - psyworkflow.qmd
    
    - part: "Data Processing"
      chapters: 
        - data-processing-steps.qmd
        - tidy-raw-data.qmd
        - score-clean-data.qmd
        - single-merged-file.qmd
        
    - part: "Data Visualization"
      chapters:
        - intro-ggplot2.qmd

format:
  html:
    theme: cosmo
    code-copy: true
    code-link: true
    number-depth: 1
  pdf:
    documentclass: scrreprt

editor: visual

